@using MVC_Project.Models
@model MVC_Project.Models.pub_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pub_info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h4>
                @Html.DisplayNameFor(model => model.logo)
            </h4>
        </dt>

        <dd style="padding-bottom: 1em">
            @Html.Image(Model.logo)
        </dd>

        <dt>
            <h4>
                @Html.DisplayNameFor(model => model.pr_info)
            </h4>
        </dt>

        <div class="overflow-auto" style="max-height: 10em; max-width: 40em;">
            @Html.DisplayFor(model => model.pr_info)
        </div>

        <dt style=" padding-top: 1em">
            <h4>
                @Html.DisplayNameFor(model => model.publishers.pub_name)
            </h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publishers.pub_name)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary" href=@Url.Action("Index") role="button">Back to List</a>
    <a class="btn btn-primary" href=@Url.Action("Edit", new { id = Model.pub_id }) role="button">Edit</a>
</p>
