@model IEnumerable<MVC_Project.Models.discounts>

@{
    ViewBag.Title = "Discounts";
}

<h2>Discounts</h2>

<p>
    <a class="btn btn-primary" href=@Url.Action("Create") role="button">Add new Discount</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.discounttype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lowqty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.highqty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stores.stor_name)
        </th>
        <th></th>
    </tr>
    </thead>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.discounttype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lowqty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.highqty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stores.stor_name)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" href=@Url.Action("Edit", new {id = item.discount_id}) role="button">Edit</a>
                    <a class="btn btn-primary" href=@Url.Action("Details", new {id = item.discount_id}) role="button">Details</a>
                    <a class="btn btn-primary" href=@Url.Action("Delete", new {id = item.discount_id}) role="button">Delete</a>
                </div>
            </td>
        </tr>
    }

</table>
