@model IEnumerable<MVC_Project.Models.roysched>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary" href=@Url.Action("Create") role="button">Add new Roysched</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lorange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hirange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.royalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titles.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lorange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hirange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.royalty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titles.title)
        </td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary" href=@Url.Action("Edit", new { id = item.title_id }) role="button">Edit</a>
                <a class="btn btn-primary" href=@Url.Action("Details", new { id = item.title_id }) role="button">Details</a>
                <a class="btn btn-primary" href=@Url.Action("Delete", new { id = item.title_id }) role="button">Delete</a>
            </div>
        </td>
    </tr>
}

</table>
