@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Search - for info about Authors by books sales</h2>

    <form class="form-horizontal lead">
        <div class="form-group">
            <label>Form In Top X</label>
            <input type="number" min="1" class="form-control" id="numberX" name="numberX" placeholder="Type a number of the top books to show" />
        </div>
        <div class="form-group">
            <label>Form Date From</label>
            <input type="date" class="form-control" id="dateFrom" name="dateFrom" placeholder="" />
        </div>
        <div class="form-group">
            <label>Form Date To</label>
            <input type="date" class="form-control" id="dateTo" name="dateTo" placeholder="" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>

    @*<p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<table class="table">
    <tr>
        <th>
            Authors ID
        </th>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Address
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th>
            Contract
        </th>
        <th></th>

    </tr>

    @foreach (var item in ViewData["jointables"] as IEnumerable<MVC_Project.Models.SearchModelBOne>)
    {
        <tr>
            <td>
                @item.authorsList.au_lname
            </td>
            <td>
                @item.authorsList.au_fname
            </td>
            <td>
                @item.authorsList.phone
            </td>
            <td>
                @item.authorsList.address
            </td>
            <td>
                @item.authorsList.city
            </td>
            <td>
                @item.authorsList.state
            </td>
            <td>
                @item.authorsList.zip
            </td>
            <td>
                @item.authorsList.contract
            </td>
        </tr>
    }
</table>

<div class="container">
    <div class="row">
        <div class="col-sm">
            ssssssssss
        </div>
        <div class="col-sm">
            aaaaaaaaaaa
        </div>
        <div class="col-sm">
            ddddddddddddddddddd
        </div>
    </div>
</div>