@using PagedList
@using PagedList.Mvc;
@model IEnumerable<MVC_Project.Models.TestClass1>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Create";
}

<div class="jumbotron" style="padding-top: 1em;padding-bottom: 0.5em">
    <h2>Authors by nubmer of books sales</h2>
    <h4>Search - Authors between two dates of sales and Top X Authors</h4>
    <hr style="border-color: white" />
    <form>
        <div class="row">
            <div class="col">
                <label>In Top X</label>
                <input type="number" min="1" class="form-control" id="numberX" name="numberX" placeholder="Type a number of the top books to show" />
            </div>
            <div class="col">
                <label>Date From</label>
                <input type="date" class="form-control" id="dateFrom" name="dateFrom" placeholder="" />
            </div>
            <div class="col">
                <label>Date To</label>
                <input type="date" class="form-control" id="dateTo" name="dateTo" placeholder="" />
            </div>
        </div>
        <div class="form-group" style="margin-top: 1em">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>

    @*<p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<table class="table">
    <tr>
        <th>
            Authors ID
        </th>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Address
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th>
            Contract
        </th>
        <th>
            Number
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.au_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.au_lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.au_fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.all_sales)
            </td>
        </tr>
    }
</table>
@*
<div class="container">
    <div class="row">
        <div class="col-sm">
            ssssssssss
        </div>
        <div class="col-sm">
            aaaaaaaaaaa
        </div>
        <div class="col-sm">
            ddddddddddddddddddd
        </div>
    </div>
</div>*@