@model MVC_Project.Models.titleauthor

@{
    ViewBag.Title = "Details";
}

<hr style="border-color: white" />
<h2>Details</h2>
<hr style="border-color: white" />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.au_ord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_ord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.royaltyper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.royaltyper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authors.au_lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authors.au_lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titles.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titles.title)
        </dd>

    </dl>
</div>
<a class="btn btn-primary" href=@Url.Action("Index") role="button">Back to List</a>
<a class="btn btn-primary" href=@Url.Action("Edit", new {Model.au_id, Model.title_id}) role="button">Edit</a>
