@model MVC_Project.Models.sales

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr style="border-color: white" />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ord_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ord_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payterms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payterms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stores.stor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stores.stor_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titles.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titles.title)
        </dd>
    </dl>
</div>
<a class="btn btn-primary" href=@Url.Action("Index") role="button">Back to List</a>
<a class="btn btn-primary" href=@Url.Action("Edit", new {Model.stor_id, Model.ord_num, Model.title_id}) role="button">Edit</a>

